$font__default: 'Open Sans', sans-serif;
$font__header: $font__default;

html, body {
    font-family: $font__default;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font__default;
}

h1, h2, h3 {
    border-left: 3px solid #BBB;
    margin-left: -15px;
    padding-left: 10px;
}

h1 {
    font-size: 26pt;
}

h2 {
    font-size: 22pt;
}

h3 {
    font-size: 20pt;
}

h4 {
    font-size: 18pt;
}

h5 {
    font-size: 16pt;
}

h6 {
    font-size: 14pt;
}

p {
    font-size: 12pt;
}

.container li {
    line-height: 1.8em;
}
