.topnav, .navbar {
    background-color: $color__primary;
    padding: 0 25px;
}

.topnav__inner, .navbar__inner {
    max-width: $content__width;
    margin: 0 auto;
    color: white;
    font-family: $font__header;
    a {
        color: white;
        text-decoration: none;
    }
}

.topnav__inner {
    padding: 10px;
}

.topnav__main {
    font-size: 20pt;
}

.topnav__section {
}

.topnav__section--image {
    height: 35px;
    img {
        float: left;
        height: 35px;
        border-radius: 50%;
    }
}

.topnav__section--right {
    float: right;
}

.topnav__link, .topnav__label {
    margin-left: 7px;
    margin-top: 7px;
    font-size: 12pt;
    display: inline-block;
}

/* Navbar */

.navbar {
    background: $color__primary--dark;
    color: white;
}

.navbar__inner {
    padding: 0px;
}

.navbar__links {
    margin: 8px 0px;
    display: inline-block;
    width: 100%;
    padding: 0;
}

.navbar__item {
    display: inline-block;
    float: left;
}

.navbar__link {
    cursor: pointer;
    color: white;
    padding-right: 20px;
    text-decoration: none;
    font-size: 13pt;
    &.navbar__link--active {
        font-weight: bold;
    }
}
