// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$av-enable-grid-cell-center: true;
@import '~avalanche-css/_avalanche.scss';

$content__width: 800px;
$color__primary: #205493;
$color__primary--dark: #082446;

@import "fonts";
@import "navigation";


html, body {
    margin: 0;
    background: #F5F5F5;
}

.container {
    max-width: $content__width;
    margin: 0 auto;
    padding: 0 25px;
}

iframe {
    width: 100%;
    border: none;
}

