// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$av-enable-grid-cell-center: true;
@import '~avalanche-css/_avalanche.scss';

@import "fonts";


$content__width: 800px;

$color__primary: #205493;

html, body {
    margin: 0;
    background: #F5F5F5;
}

.container {
    max-width: $content__width;
    margin: 0 auto;
}

.topnav {
    background-color: $color__primary;
}

.topnav__inner {
    max-width: $content__width;
    margin: 0 auto;
    font-family: $font__header;
    padding: 10px;
    color: white;
    a {
        color: white;
        text-decoration: none;
    }
}

.topnav__main {
    font-size: 20pt;
}

.topnav__section {
}

.topnav__section--image {
    height: 35px;
    img {
        float: left;
        height: 35px;
        border-radius: 50%;
    }
}

.topnav__section--right {
    float: right;
}

.topnav__link, .topnav__label {
    margin-left: 7px;
    margin-top: 7px;
    font-size: 12pt;
    display: inline-block;
}

