// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,600,700');

$av-enable-grid-cell-center: true;
@import '~avalanche-css/_avalanche.scss';

$content__width: 1000px;
$color__primary: #205493;
$color__primary--dark: #082446;
$color__primary--light: #478CDF;
$color__secondary: #1B9DA0;

@import "typography";
@import "navigation";


html, body {
    margin: 0;
    background: #E5E5E5;}

.container {
    max-width: $content__width;
    margin: 0 auto;
    padding: 0px 25px 80px 25px;
}

iframe {
    width: 100%;
    border: none;
}

@media (max-width: 700px) {
    .topnav__section--banner {
        display: none;
    }
}

.corner--bottom-left {
    position: fixed;
    bottom: 6px;
    left: 10px;
    a {
        border-radius: 5px 5px 0 0;
        padding: 8px 10px 10px 10px;
        background-color: $color__primary;
        color: white;
        text-decoration: none;
    }
}

/* Pager */

.chart-pager {
    float: right;
    background: $color__primary;
    color: white;
    border-radius: 5px;
    display: inline-block;
    line-height: 1.7em;
    user-select: none;
}

.chart-pager__label {
    padding: 0px 5px;
}

.chart-pager__link {
    cursor: pointer;
    border-bottom: none !important;
    color: white !important;
    padding: 3px 8px 2px 8px;
    &:hover {
        background: $color__primary--dark;
    }
}

.chart-pager__link--left {
    padding-right: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.chart-pager__link--right {
    padding-left: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

